:root {
    --rem-size: 16px;
    --font-family: Helvetica;
    --padding: 10px;

    --color-1: white;
    --color-2: #901910;
    --color-3: rgb(112, 128, 144);
    --color-link: lightgreen;

    --paragraph-border-width: 5px;
    --paragraph-border-style: solid;
    --paragraph-border-radius: 10px;
}

html {
    font-size: var(--rem-size);
}

body {
    margin: 0;
    min-height: 800px;
    background-color: var(--color-1);
    color: var(--color-2);
    font-family: var(--font-family);
}

nav {
    background-color: var(--color-2);
    color: var(--color-1);
    padding: var(--padding);
}

h1 { color: var(--color-3); }
a { color: var(--color-link); }

.box {
    background-color: var(--color-2);
    color: var(--color-1);
    padding: var(--padding);
    border: var(--paragraph-border-width) var(--paragraph-border-style) var(--color-3);
    border-radius: var(--paragraph-border-radius);
    margin: var(--padding) 0;
}

code {
    background-color: var(--color-1);
    color: var(--color-2);
    border-radius: 4px;
    font-family: monospace;
    padding: 0 2px;
    margin: 0 2px;
}

/* Nothing important below */

main { margin: 1rem; }

ul { margin: 0; }
li {margin: 4px 0; }

#variable_list {
    position: fixed;
    bottom: 10px;
    right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
    padding: 10px;

    color: black;
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.persist_box { margin-bottom: 5px; }

.var_box {
    display: flex;
    justify-content: space-between;
}
